body {
   background-color: #fcf9c5; 
}

.header {
    width: 99%;
    height: 50px;
    background-color: #a2f710; 
    margin: 5px 5px 5px 5px;
    text-align: center;
}


.container { 
  display: grid; 
  grid-template-columns:  repeat(3, 1fr);  
  grid-template-rows: repeat(5, 200px); 
  background-color: #04030f; 
  gap: 2px; 
}
.container > div { 
  background-color: #f3e3ff; 
}

a {
    text-decoration: none;
}

#one { 
  grid-column: 1/3; 
  grid-row: 1/4; 
} 
#two { 
 grid-row: 1/3; 
}  
#five { 
  grid-column: 4/2; 
}
/*--меню--*/
#seven { 
  grid-row: 6/1;
    padding: 13px;
}

.footer{
     width: 99%;
    height: 35px;
    background-color: #245afa; 
    margin: 5px 5px 1px 5px;
    text-align: center;
}





