



   .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.article-title {
    margin: 0 0 5px;

    font-size: 18px;
    color: #0d448e;
}

.em {
    font-size: 20px;
    color: darkgreen;
}


.text-center {
    font-size: 17px;
    
}


