body {
    margin: 0;


    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;

    background: #E0FFFF;
}


/*Стилизация ссылок*/
.nav-link {
    padding: 8px 8px;
    font-size: 18px;
    color: #800080;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.nav-link:hover {
    background-color: #1da1a3;
}



.index6 {
    margin-left: 10px;
    margin-right: 10px;
    background: #FFFAFA;
     width: 1197px;
    border: 1px solid #D2B48C;
    border-collapse: collapse;

}


.index6_1 {
    margin-left: 26px;
    margin-right: 10px;
    background: #E0FFFF;
    padding-left: 26px;
    border: 1px solid #D2B48C;
    border-collapse: collapse;


}

.stop {
    
    width: 1250px;
    position: fixed;
    text-align: center;
    background: #FFFAFA;



}

.stop1 {
   
    position: fixed;
    text-align: center;
    background: #E0FFFF;
}

/*раскраска таблицы*/
.index6 tbody tr:nth-child(even) {
    background-color: #00FFFF;
}

.index6_1 tbody tr:nth-child(even) {
    background-color: #00FFFF;
}






.index6 th {
    padding: 5px 10px;
    text-align: center;
    color: #2F4F4F;
    border: 1px solid #191970;
    font-weight: 600;
}

.index6_1 th {
    padding: 5px 10px;
    text-align: center;
    color: #2F4F4F;
    border: 1px solid #191970;
    font-weight: 600;
    font-size: 13px;
}


.index6 td {
    padding: 5px 10px;
    border: 1px solid #191970;
    font-weight: 500;
    font-size: 13px;
}

.index6_1 td {
    padding: 5px 10px;
    border: 1px solid #191970;
    font-weight: 500;
    font-size: 13px;
}


p {
    text-align: left;
    margin-left: 15px;
    font-size: 22px;

}


.end {
    font-size: 18px;
    color: #008080;
    margin-top: 15px;
    margin-left: 15px;

}

