body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;

    background: #F0F8FF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    text-align: center;
    background-color: #1b0ff7;
    color: #FFFAFA;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #CD5C5C;
}

h4 {

    font-size: 19px;
}

hr {
    border: solid;
}

strong {
    font-size: 18px;
    color: #8A2BE2
}


/*-----------------Главный блок для всех страниц-----------*/
.page {
    width: 1250px;
    margin: 5px auto;
    background-color: rgba(205, 227, 223, 0.93);
}

.qr {
    text-align: right;
}

/*--------------------- Стилизация шапки для всех страниц --------------------*/

.header {
    width: 1250px;
    margin: 5px auto;
    background-color: #121212;
    border-radius: 5px;

}

.header-title {
    margin: 0;

    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 19px;
    color: #f5ffda;
    text-align: center;
    font-weight: 400;
    background-color: #684dff;
}




/*--------------------------Начало для index.html---------------------*/

/*основной блок index.html*/
.container {
    display: flex;
}

/*стилизация изображений index.html*/
.jpg {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 15px;


}

.sad-jpg {
    border-radius: 10px;
    box-shadow: 0 3px 5px #a7a7a7;
    background-color: #222;
    opacity: 1;
    margin-right: 15px;
    transition: opacity 0.2s linear;
}

.sad-jpg:hover {
    opacity: 1;
}

/* Article основное окно */
/*общие папаметры index.html*/
.article {
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}

.article-title {
    margin: 0 0 5px;

    font-size: 18px;
    color: #0d448e;
}

.article-title a {
    color: inherit;
    text-decoration: none;
}

.article-title a:hover {
    text-decoration: underline;
}

.article-date {
    display: block;
    font-size: 12px;
    color: #a4a4a4;
}

.blok3 {
    margin-left: 10px;
    margin-right: 15px;

}

.em {
    font-size: 20px;
    color: darkgreen;
}



/*Правление*/
.article-dd {
    font-size: 20px;
    text-shadow: 1px 1px;
}

.article-dt {
    color: darkred;
    font-size: 20px;
    text-shadow: 1px 1px;
    padding-left: 40px;
}


/*----------КОНЕЦ------------------- */

/*----------стилизация контента------------------- */
.content {
    width: 800px;
    padding: 0 15px;
}

.content-title {
    margin: 0 0 15px;

    font-size: 24px;
    color: #ce2929;
}

.content-text {
    margin-bottom: 20px;
}








/*-------------- Стилизация меню навигации для всех страниц----------- */

.nav {

    justify-content: center;
    text-align: center;
    margin-bottom: 7px;

}

/*Стилизация ссылок*/
.nav-link {
    padding: 8px 8px;
    font-size: 18px;
    text-shadow: 1px 1px;
    color: #225911;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.nav-link:hover {
    background-color: #1da1a3;
}






/*-----------?????????-------------*/

.read-more {
    color: #1d7abe;
    text-decoration: none;


}

.read-more:hover {
    text-decoration: underline;
}

/* Sidebar боковое окно???????? */

.sidebar {
    width: 300px;
    padding: 10px;
    background-color: rgba(205, 227, 223, 0.93);
}

/*оглавление?????*/
.sidebar-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #e02525;
}

/*картинка??????*/
.sidebar-img {
    background: linear-gradient(to top, #fff, #eee);


}

/*контент информации index.html*/
.info {
    font-size: 18px;
    margin-left: 5px;
    margin-top: 15px;
}



/*текст*??????*/
.sidebar-text {
    font-size: 17px;
}


.footer {
    width: 1230px;
    margin: 20px auto;
    background-color: #121212;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

.footer_v {
    text-align: left;
}

/*Таблица должников*/


.table {
    width: 1230px;
    border: 1px dashed #aaaaaa;
    border-collapse: collapse;
}



/*index.rec2*/



.table th {
    padding: 5px 10px;
    text-align: center;
    color: #006400;
    border: 1px dashed #aaaaaa;
    font-weight: 600;
}

.table td {
    padding: 5px 10px;
    border: 1px dashed #aaaaaa;
    font-weight: 500;
    font-size: 17px;
}

/*раскраска таблицы*/
.table tbody tr:nth-child(even) {
    background-color: #B0E0E6;
}


/*Инструкциии*/

.title-instruction {
    margin: 0;

    font-size: 34px;
    color: #B22222;
    text-align: center;
    margin-bottom: 30px;
}

.text-indent {
    text-align: center;

    font-family: "Times New Roman", Times, serif;
}

p {
    font-size: 19px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #4B0082;
    text-align: center;

    font-weight: bold;
}

.b {
    font-size: 19px;
}

.text-content {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: sans-serif;
}

/*Стилизация Отчет.Ревизионной комиссии index1.html*/


#home {
    color: aliceblue;
    margin-left: 15px;
    margin-top: 20px;
    text-decoration: none;
}

.rev_home {

    margin-left: 29px;
    font-size: 25px;
}

.rev_text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

}

.rev_text p {
    font-size: 20px;
    font-weight: 400;
}

.rev_text tt {
    font-size: 19px;
    font-weight: 400;
}


/*Форма*/
.form {
    font-family: Verdana, sans-serif;
    background: #66CDAA;
    color: #FF0000;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}

.form_1 {
    float: left;
    font-family: Verdana, sans-serif;
    background: #0000FF;
    color: #EEE8AA;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}

.article-text {
    text-align: right;
}

.name_2 {
    font-size: 15px;
    color: #EEE8AA;


}

.name_1 {
    font-size: 15px;
    color: #D8BFD8;
}









/*index.rec2*/
.rec2 {

    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}



/*index.time*/




.info_1 {
   
    width: 30%;
    float: left;
    font-size: 23px;
    color: snow;
    margin-top: 10px;
    text-align: center;
}

.info_2 {

    width: 33%;
    float: left;
    font-size: 23px;
    color: snow;
    margin-top: 10px;
    text-align: center
}



.info_3 {
    width: 33%;
    float: left;
    color: snow;
    padding-left: 12px;
    margin-top: 10px;
    font-size: 25px;
}

time_1 {
    text-align: right;

}

tt {

    color: #4682B4;
}

.internet {

    float: left;
}



/*undex10.html(Забор)*/

.page_10 {
    width: 1230px;
    margin: 20px auto;
    background-color: rgba(205, 227, 223, 0.93);

}

.header_10 {
    width: 1230px;
    margin: 20px auto;
    background-color: #121212;
    border-radius: 11px;
}

.header-title_10 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}


.header-subtitle_10 {
    margin: 0;
    font-size: 19px;
    color: #f5ffda;
    text-align: center;
    font-weight: 400;
    background-color: #684dff;
}


.nav_10 {
    justify-content: center;
    text-align: center;
    margin-bottom: 7px;

}


.nav-link_10 {
    padding: 8px 8px;
    font-size: 18px;
    text-shadow: 1px 1px;
    color: #225911;
    text-decoration: none;
}


.nav-link_10:hover {
    background-color: #1da1a3;
}



.table_10 {
    width: 1230px;
    border: 1px dashed #aaaaaa;
    border-collapse: collapse;
}


.text_10 {
    font-size: 20px;
    margin: 12px;
}



/* index.217.html */

.fed {
    background: #F5FFFA;
}

.fed_header {
    background: #DCDCDC;
}

.fed_217 {
    text-align: center;
    font-size: 23px;
}

.fed_text {
    font-size: 19px;
    margin-left: 20px;
    margin-right: 20px;
}

/* index7 */

.photo {
    color: purple;
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
}

/* index7.1 */

* {
    box-sizing: border-box;
   }
    
   label[for] {
    cursor: pointer;
   }
    
   input[type="checkbox"] {
    display: none;
   }
    
   body {
    background-color: #000;
   }
    
   .lightbox, .grid {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
   }
    
   .lightbox {
    z-index: 1;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
   }
   .lightbox img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   }
    
   input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
   }
    
   input[type="checkbox"]:checked ~ .grid {
    opacity: .125;
   }
    
   .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    z-index: 0;
    height: 100%;
    padding: 16px;
    overflow: auto;
    background-color: #222;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
   }
   .grid .grid-item {
    display: inline-block;
    width: 25%;
    padding: 16px;
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
   }
   .grid .grid-item:hover {
    opacity: 1;
   }
   @media screen and (max-width: 1024px) {
    .grid .grid-item {
    width: 50%;
    }
   }
   @media screen and (max-width: 480px) {
    .grid .grid-item {
    width: 100%;
    }
   }
   .grid img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   }
















