



   .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}


.header {
    width: auto;
    margin: 5px auto;
    background-color: #121212;
    border-radius: 5px;

}

.header-title {
    margin: 0;

    font-size: 24px;
    color: #fff;
    text-align: center;
}

.header-subtitle {
    margin: 0;
    font-size: 19px;
    color: #f5ffda;
    text-align: center;
    font-weight: 400;
    background-color: #684dff;
}


/*Стилизация ссылок*/
.nav-link {
    padding: 8px 8px;
    font-size: 18px;
    text-shadow: 1px 1px;
    color: #225911;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.nav-link:hover {
    background-color: #1da1a3;
}

.info {
    background-color:#1E90FF;
    color: #E0FFFF;
    font-size: 22px;
   padding-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.rev_home {

    margin-left: 29px;
    font-size: 25px;
}
.rev_text {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.rev_text p {
    font-size: 20px;
    font-weight: 400;
}

.rev_text tt {
    font-size: 19px;
    font-weight: 400;
}


.article-title {
    margin: 0 0 5px;

    font-size: 18px;
    color: #0d448e;
}

.em {
    font-size: 20px;
    color: darkgreen;
}


.text-center {
    font-size: 17px;
    
}


.table {
    
    border: 1px dashed #aaaaaa;
    border-collapse: collapse;
}

.footer {
    width:auto;
    margin: 20px auto;
    background-color: #121212;
    border-radius: 3px;
    color: #fff;
    text-align: center;
}

.footer_v {
    text-align: left;
}



